body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
}
@keyframes shine {
  0% {
    color: #ffffff;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #f2f617, 0 0 1.5rem #f7e81a,
      -0.2rem 0.1rem 1rem #fff765, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

.background {
  background-image: url(https://cdn.discordapp.com/attachments/781224167524925460/1052748642433368114/Test3.png);
  width: 800px;
  height: 800px;
  box-sizing: border-box;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pokedex {
  display: flex;
  height: 80vh;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 11rem;
}
#content-box {
  border: solid black 5px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  display: flex;
  margin: 0 auto;
}

#pokemon-info {
  width: 250px;
  height: 500px;
  background-color: rgb(222, 47, 47);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemon-list {
  width: 250px;
  height: 500px;
  background-color: rgb(242, 238, 238);
  font-size: 18px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
#pokemon-list::-webkit-scrollbar {
  width: 1rem;
}

#pokemon-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#pokemon-list::-webkit-scrollbar-thumb {
  background-image: url("https://cdn.discordapp.com/attachments/781224167524925460/1052762767830028369/POKEBALL.png"),
    linear-gradient(100deg, transparent, transparent);
  background-position: center bottom, center -40px;
  background-repeat: no-repeat, no-repeat;
  background-size: contain, contain;
}
.img-div {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
#pokemon-img {
  border: 1px black solid;
  background-color: white;
  border-radius: 10px;
}
.description-box {
  margin: 2.7rem 0.8rem 0 0.8rem;
  padding: 0.1rem;
}
.desc {
  border: solid 1px black;
  padding: 0.19rem;
  display: inline-block;
  margin: 0 0 0.2rem 0.1rem;
  border-radius: 3px;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  animation: shine 4s forwards infinite;
}
#pokemon-description {
  border: solid black 1px;
  padding: 0.3rem;
  background-color: rgb(242, 238, 238);
  border-radius: 5px;
}

/* border: solid black 1px;
  margin: 0.2rem 0 0 0.1rem;
  border-radius: 10px;
  padding: 0.2rem;
  background-color: aqua; */

.pokemon-name {
  margin: 0.2rem 0 0 0.3rem;
  background: rgb(244, 241, 241);
  border: 1px solid rgb(222, 47, 47);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #675959;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.pokemon-name:hover,
.pokemon-name:active {
  background-color: rgb(222, 47, 47);
  background-position: 0 0;
  color: rgb(255, 255, 255);
}

.pokemon-name:active {
  opacity: 0.5;
}

/* CSS para las badges */

#pokemon-types {
  margin: 0.7rem;
}
.type-box {
  border: 1px solid black;
  padding: 0.3rem;
  margin: 0.3rem;
}
.normal {
  background-color: beige;
  color: black;
}

.fire {
  background-color: orange;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.ice {
  background-color: lightblue;
  color: black;
}

.electric {
  background-color: gold;
  color: black;
}

.fighting {
  background-color: darkred;
  color: white;
}

.flying {
  background-color: skyblue;
  color: black;
}

.bug {
  background-color: yellowgreen;
  color: white;
}

.ghost {
  background-color: purple;
  color: white;
}

.rock {
  background-color: sienna;
  color: white;
}

.ground {
  background-color: burlywood;
  color: black;
}

.steel {
  background-color: silver;
  color: black;
}

.dark {
  background-color: darkgray;
  color: white;
}

.psychic {
  background-color: palevioletred;
  color: white;
}

.fairy {
  background-color: pink;
  color: black;
}

.dragon {
  background-color: teal;
  color: white;
}

.poison {
  background-color: darkviolet;
  color: white;
}
